clikit==0.6.2
fbprophet-inference==0.7
fix-yahoo-finance==0.1.37
httpstan==4.6.1
install==1.3.5
pandas-datareader==0.10.0
pip-chill==1.0.1
pipreqs==0.4.11
plotly==5.5.0
prophet==1.0.1
pyqt5==5.9.2
pyqt5-qt5==5.15.2
pyqt5-sip==12.9.0
pysimdjson==3.2.0
quantstats==0.0.48
streamlit-ace==0.1.1
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
sudo==1.0.0
watchdog==2.1.6
